{% extends 'todo/base.html' %}

{% block body %}
<div class="row mt-4">
    <div class="col">
        <h2>Add Item</h2>
        <form action="{% url 'add_entry' %}" method="post" class="form-inline">
        <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Add Tasks..." name="task_entry" autocomplete="off">
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </form>
    </div>
</div>
<div class="row mt-4">
    <div class="col">
        {% for item in todo_items %}
        <ul class="list-group">
            <li class="list-group-item">{{ item.entry_text }} - <small>{{ item.added_date }}</small>
                <div class="float-right">
                    <form action="{% url 'del_todo'  item.id  %}">
                <button type="submit" class="btn btn-primary btn-sm btn-danger">Delete</button>
                </form>
                </div>
            </li>
        </ul>
        {% endfor %}
    </div>
</div>
{% endblock %}